* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    user-select: none;

    font: {
        family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        weight: 100;
    }

    &::before,
    &::after {
        @extend *;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}